#navbar-main-container{
    background-color: white;
}

body{
    background-color: rgb(214, 245, 255);
}

.quote-box{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
  
#logo{
    width: 4rem;
}

#navbar-main-container{
    padding: 0;
}

