#navbar-main-container{
    background-color: white;
}

body{
    background-color: beige;
}

.carousel-item img{
    height: 100vh;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }
  
  .carousel-caption h5,
  .carousel-caption p {
    color: #fff; /* Garante contraste */
  }
  
  @media (max-width: 576px) {
    .carousel-caption {
      font-size: 0.8rem;
      padding: 5px;
    }
  }
  